In [13]:
import pandas as pd
import numpy as np

In [14]:
#任务1：将列表转化为numpy数组
data0 = [1,2,7]
arr0 = np.array(data0)

In [15]:
#任务2：新建pandas中的series数据类型，打印其大小、索引值、值
s = pd.Series(data=[100,'a',{'dic1':5}],
              index=pd.Index(['id1',20,'third'],name='my_idx'),
              dtype='object',
              name='my_name')

In [16]:
s2 = pd.Series(["1","2","7"])

In [17]:
s2.index.values

array([0, 1, 2], dtype=int64)

In [18]:
type(s2.values[0])

str

In [19]:
s2.size

3

In [20]:
s2.shape

(3,)

In [21]:
#任务3；创建dataframe类型的数据，并获取其索引、值及表大小
#"one"字符串 df=……为赋值表达式，返回函数值
d = {"one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"]),}
df =pd.DataFrame(d)

In [22]:
d1 ={"作者":pd.Series(['余华','残雪','莫言']),
     "作品":pd.Series(['活着','暗夜','红高粱']),
     "价格":pd.Series([35,27,38]),
     }
df2=pd.DataFrame(d1)

In [23]:
df2['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [27]:
贵州茅台原始数据=pd.read_csv(R'600519.csv')

In [28]:
#按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [32]:
贵州茅台原始数据[['TURNOVER','volume']]

         TURNOVER  volume
0      1410347008  406318
1       463463008  129647
2       194689000   53252
3       177558000   48013
4        86231000   23231
...           ...     ...
4089   2694714080   49076
4090  10663392512  204397
4091   5239853056   96885
4092   5581027328   98107
4093   5227695104   89157

[4094 rows x 2 columns]

In [38]:
#按行索引
贵州茅台=贵州茅台原始数据.set_index('day')

In [42]:
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [39]:
#单个元素 loc索引器
贵州茅台.loc['2001-08-27']

STOCK_CODE    6.005191e+06
open          3.451000e+01
close         3.555000e+01
maximum       3.778000e+01
minimum       3.285000e+01
volume        4.063180e+05
TURNOVER      1.410347e+09
Name: 2001-08-27, dtype: float64

In [40]:
贵州茅台.loc['2001-08-27',['open','close']]

open     34.51
close    35.55
Name: 2001-08-27, dtype: float64